body {
    background-color:gray;
}

.upgrade img {
    height: 150px;
    width: 150px;
    display: block;
    margin: 0;
    padding: 0;
}
.cards .card {
    align-self: flex-start; 
}

.click-card:hover {
    transform: translateY(-3px);
    outline: 1px solid white;
}